.DS_Store

# ignore the container file -- we don't want to host such a large file on github
*.sif

# ignore all .log files
*.log

*-checkpoint.ipynb
.ipynb_checkpoints/
.virtual_documents/

node_modules/